apiVersion: apps/v1
kind: Deployment
metadata:
  name: dev-deployment
  namespace: meta
spec:
  replicas: 1
  selector:
    matchLabels:
      app: dev-app
  template:
    metadata:
      labels:
        app: dev-app
    spec:
      serviceAccountName: default
      containers:
      - name: dev-container
        image: bitnami/kubectl:latest
        command: [ "/bin/sh", "-c", "while true; do kubectl get deployments -n meta; sleep 10; done" ]